---
layout: default
title: Finley Family Blog
---

<h2>Family Blog</h2>
<p>Updates, stories, and happenings!</p>

<div class="blog-list">
    {% if site.posts.size > 0 %}
        {% for post in site.posts %}
            <article class="blog-summary card">
                <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
                <p><em>Posted: {{ post.date | date: "%B %d, %Y" }}</em></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | relative_url }}">Read More...</a></p>
            </article>
        {% endfor %}
    {% else %}
        <p>No blog posts yet. Check back soon!</p>
    {% endif %}
</div>