---
layout: default
title: Finley Family Recipes
---

<h2>Family Recipes</h2>
<p>Our collection of favorite recipes!</p>

<div class="recipe-list">
    {% if site.recipes.size > 0 %}
         {% for recipe in site.recipes %}
            <article class="recipe-summary card">
                <h3><a href="{{ recipe.url | relative_url }}">{{ recipe.title | escape }}</a></h3>
                {% if recipe.description %}
                    <p>{{ recipe.description | escape }}</p>
                {% endif %}
                <p><a href="{{ recipe.url | relative_url }}">View Recipe...</a></p>
            </article>
         {% endfor %}
    {% else %}
         <p>No recipes posted yet!</p>
    {% endif %}
</div>